

html, body {
  height: 100%;
 overflow-x:hidden; 
}
 
 body
       {
         padding-top:40px;
       }  
 
 .nav1
{
background-color:#2874A6;
}
.ul1
{
padding-right:30px;
}
.div1
{

background-color:#2874A6;
}
div.inline { float:left; }
body, html {
  margin: 0;
  
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
color: #fff;
background-color: #2874A6;
}
.nav>li>a:focus, .nav>li>a:hover {
text-decoration: none;
background-color: #2874A6;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
background-color: #2874A6;
border-color: #337ab7;
}
.li1
{
border: 2px solid #2874A6;
border-radius:5px;
}
.div2
{
border: 2px solid #2874A6;
border-radius:5px;
padding:20px;
margin:3px;
}
a.a1:focus, a.a1:hover {
color: white;

}
a.a1 {
color: #2874A6;
}
.navbar-default .navbar-nav>li>a {
color: white;
}
.div3
{
padding:0px;
}
.pager li>a:focus, .pager li>a:hover {
text-decoration: none;
background-color: #2874A6;
}







.form-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 1px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #2874A6;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.panel
{
background-color:#2874A6;
color:white;
}
a.a3
{color:white;
text-decoration:none;
}

a.a3:hover
{color:white;
text-decoration:none;
}
a.a3:visited
{color:white;
text-decoration:none;
}
.panel-footer
{
color:#2874A6;
background-color:white;
}
.panel-default>.panel-heading {
    color: white;
    background-color: #2874A6;
    border-color: #2874A6;
}
.panel1 {
    background-color: white;
    color: white;
        border: 1px solid #2874A6;
}
.btn
{
color:#2874A6;
background-color:white;
border:1px solid #2874A6;
font-size:10px;
}
.btn:hover
{
color:white;
background-color:#2874A6;
border:1px solid #2874A6;
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 3px solid white;
    background-color:grey;
    color:white;
    padding:5px;
}
.hidet{
	display:none;
}
 .panel-heading{
    padding: 3px 3px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
hr
{
padding:0px;
margin:0px;
}
.designtog
{
padding:8px;

}
.floatdesigntog
{
	float:left;
width:55px;
font-size:10px;
}
.no{
padding:1px;
margin:0px;
background-color:#b3cccc;
	
}
.row {
    margin-right: 0px;
    margin-left: 0px;

}
.rowcol{
background-color:grey;
}
.extra{
padding:2px; 
background-color:white;
}

.designtog:hover
{background-color:#2874A6;
color:white;
}
table{
	font-size:10px;
}

.btn2{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

