html, body {
  height: 100%;
  overflow-x: hidden;
  width:100%;
}
 
.wrap {
  height: 100vh;
  display: flex;
}
main {
  flex: 1;
  display: flex;
}
 
aside, article {
  overflow-y: scroll;
  padding: 2em;
}
 
aside {
  flex: 1.0;
}
 
article {
  flex: 2.0;
}
 body
       {
         padding-top:40px;
       }  
      .nav1
{
background-color:#2874A6;


}
.ul1
{
padding-right:30px;
}
.div1
{

background-color:#2874A6;
}
div.inline { float:left; }
body, html {
  margin: 0;
  
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
color: #fff;
background-color: #2874A6;
}
.nav>li>a:focus, .nav>li>a:hover {
text-decoration: none;
background-color: #2874A6;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
background-color: #2874A6;
border-color: #337ab7;
}
.li1
{
border: 2px solid #2874A6;
border-radius:5px;
}
.div2
{
border: 2px solid #2874A6;
border-radius:5px;
padding:20px;
margin:3px;
}
a.a1:focus, a.a1:hover {
color: white;

}
a.a1 {
color: #2874A6;
}
.navbar-default .navbar-nav>li>a {
color: white;
}
.div3
{
padding:0px;
}
.pager li>a:focus, .pager li>a:hover {
text-decoration: none;
background-color: #2874A6;
}
.btn1 {
    background-color: #2874A6;
    color: white;
    width: 100%;
    }
.btn1:hover
{
color:white;
}

.variant
 {
  width:100%;
   height:100%;
   }