html, body {
  height: 100%;
   overflow-x: hidden;
}
 
.deal
{
background-color:white; 
color:#2874A6;
padding:5px;

}

 body
       {
         padding-top:40px;
       } 
       
       
       
       
       
        
      .nav1
{
background-color:#2874A6;


}
.ul1
{
padding-right:30px;
}
.div1
{

background-color:#2874A6;
}
div.inline { float:left; }
body, html {
  margin: 0;
  
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
color: #fff;
background-color: #2874A6;
}
.nav>li>a:focus, .nav>li>a:hover {
text-decoration: none;
background-color: #2874A6;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
background-color: #2874A6;
border-color: #337ab7;
}
.li1
{
border: 2px solid #2874A6;
border-radius:5px;
}
.div2
{
border: 2px solid #2874A6;
border-radius:5px;
padding:20px;
margin:3px;
}
a.a1:focus, a.a1:hover {
color: white;

}
a.a1 {
color: #2874A6;
}
.navbar-default .navbar-nav>li>a {
color: white;
}
.div3
{
padding:0px;
}
.pager li>a:focus, .pager li>a:hover {
text-decoration: none;
background-color: #2874A6;
}





.btn1 {
    background-color: #2874A6;
    color: white;
    width: 100%;
    }
.btn1:hover
{
color:white;
}


.mg-image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
        overflow:hidden;
}
.mg-image:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
     overflow:hidden;
}
/* just apply some height and width to the wrapper.
.mg-image {
  width:400px;
  height:400px;
  overflow: hidden;
}







